/*faq section*/
/*FAQS*/
.faq_question {
	margin: 1vw 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Dosis', sans-serif;
	font-size: 2rem;
}
.question {
	background-color: #0892d0;
	padding:5px;
}

.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
	margin-left: 4vw;
	font-family: 'Dosis', sans-serif;
	font-size: 2rem;
}
.answer {
	background-color: #0892d0;
}
.faqcontainer {
	background-color: #212121;
	color: #fff;
}
.faqbox {
	display: block;
	margin:2vw 0;
}
.faq {
	margin: 2vw 5vw;
}
.faqbox h1 {
	text-align: center;
	font-size: 4rem;
	font-family: 'Dosis', sans-serif;
}
.faqbox h4 {
	text-align: center;
	font-family: 'Dosis', sans-serif;
}