.footer {
    background-color: #212121;
    padding-top: 1vw;
    text-align: center;
}

.pagelinks {
    margin: 0 auto;
    display: block;
}

.pagelinks>li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1vw;
	text-align: center;
}

.pagelinks>li>a {
    color: #a3a3a3;
    letter-spacing: 1px;
}

.pagelinks>li>a:hover {
    color: #0892d0;
    text-decoration: none;
}

.copyright {
    margin-top: 1vw;
    padding: 0.5vw;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

.copyright>p {
    margin-bottom: 0 !important;
    color: #a3a3a3;
    letter-spacing: 2px;
    font-size: 0.8rem;
}