/*text selection color*/
::-moz-selection {
    color: #fff;
    background: #0892d0;
}
::-webkit-selection {
    color: #fff;
    background: #0892d0;
}
::selection {
    color: #fff;
    background: #0892d0;
}


body, .container-fluid {
	padding: 0 !important;
	margin: 0 !important;
	font-family: 'Roboto', sans-serif;
}
/*INFORMATION SECTION*/
.infoheader {
	background-color: #212121;
	padding: 5vw;
	margin-right: 0 !important;
}
.infoimage {
	padding-left:20vw;
	padding-top: 5vw;
}
.infoimg {
	width: 50%;
	position: relative;
}
.infotext {
	color: #fff;
	padding-top: 10vw;
	padding-left: 10vw;
}
.infotext > h5{
	color: #7a7a7a;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.infotext > h1 {
	letter-spacing: 10px;
	color: #fff;
}
.infotext > p {
	color: #a3a3a3;
	width: 30vw;
	letter-spacing: 1px;
}
/*INFORMATION SECTION ENDS*/

/*circle section starts here*/

.info-circle {
background-color: #fff;
padding:5vw;
}

.info-tag {
	text-transform: capitalize;
	font-size: 1.5rem;
	color: #7a7a7a;
	text-align:center;
}
.info-head {
	text-align: center;
	text-transform: capitalize;
	color: #212121;
}
.circles {
	margin-top: 5vw;
}
.circleimg {
	border-radius: 100%;
	width: 50%;
	margin: 0 auto;
	display: block;
}

.circles > div > p {
	text-align: center;
	margin: 2vw auto;
	font-size: 1.2rem;
	text-transform: capitalize;
}
/*circle section ends here*/

/*diagram starts here*/

.diagram-section {
	padding: 5vw;
	background-color: #212121;
	text-align: center;
}

.dtag {
	color: #a3a3a3;
	text-transform: uppercase;
}
.dpara {
	color: #fff;
	font-size: 1.5rem;
	width: 80%;
	margin: 2vw auto;
	display: block;
}
.dvideo {
	width: 80%;
	margin: 0 auto;
	display: block;
}
/*diagram ends here*/

/*social starts*/
.social {
	text-align: center;
	padding-top: 3vw;
	padding-bottom: 3vw;
}

.sheading {
	font-size: 2rem;
	letter-spacing: 5px;
}
.social-buttons {
	width: 25vw;
	margin: 0 auto;
}
.social-button {

}
.icon {
	width: 50%;
}

/*social ends*/